*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html {
    scroll-behavior: smooth;
}
body{
    background:#2f479c;
    overflow-x: hidden;
}
@font-face {
    font-family:hd;
    src: url(../font/Fake\ Serif.ttf);
}
@font-face {
    font-family:hdd;
    src: url(../font/chibold.ttf);
}
@font-face {
    font-family:prg;
    src: url(../font/patrick.ttf);
}


a{
    text-decoration: none;
}
li{
    list-style: none;
}
span,p{
    font-family: prg;

}


/* -------------------------------------------------BNAR-SEC--------------------------- */
.banr-sec{
    background-image: url(../images/banr.png);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 80vw;
    position: relative;
}
.nav{
display: flex;
justify-content: space-around;
align-items: center;
gap: 50vw;
}
.left h4 a{
    font-size: 2vw;
    color: #fff;
    font-family:hdd;
    padding: 2vw 4vw;
    padding-top: 4vw;

}
.left{
    padding-top: 5vw;
}
.right img{
    width: 25vw;
}

.p1{
    position: absolute;
    width: 28vw;
    right: 3%;
    top: 0%;
}
.icns{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 69%;
    top: 4%;
    gap: 1vw;
}
.icns .i img{
    width: 6vw;
}
.gif1{
    background: url("https://s3-alpha-sig.figma.com/img/aa0d/8764/4aa5aff1054e38f6e1b5e382c8cd1b25?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hiEfvyn6QGjmuc0qFQyI8hgdtpzO7I5kwLhmuHYE-CiHZqW1GTMmyBxxzuBLybyxf23pIGl6F2mxxKy2zx~SSfijCJ-RlcJ42AhJd7JZ84Y7k973JcaAzLn6KyjHc3rE6Ulav9iRNBMUJiJdp4leWMVraNx6IgtF9tiKwdfkr6uaM4b1ZfZTAODrCD4zqcnDthV285QjiW8pmRsoFzspVQf6bc-KCyzRc40k0HjPy4qqMAYVEN0ANjxUdTXfFQucCOzlTlc0ILld9N~zY05oFfy1SPYP~VChz3VCS~esA2Xeeyc~wUQfQP1RsG7NHwz7gCrVmj4Cm9rGGx525hUFVg__");
    background-size: cover;
    width:13%;
    height:13vw;
    position: absolute;
    right: 3.5%;
    z-index: 2;
    top: 0%;
    
}
.book img{
    display: flex;
    margin: auto;
    position: absolute;
    width: 60vw;
    top: 0%;
    left: 18%;
    

}
/* -----------books------------ */
.b2{
    position: absolute;
    width: 20vw;
    left: 3%;
    top: 27%;
}
.gif2{
    background: url("https://s3-alpha-sig.figma.com/img/8929/facd/c481524cc1874cfb9eaa80c3d54ef386?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MzryIRZGp-RCkbvFKk1QA3wtcqW-7fkqKvSPne6a4uvqL1l-ig8vSSGGmC2mtn49F9IQqWKtymum4oqz~qjuPB4o8cEGHZL52gAuyrXF~tV6EQxoR6xnIbx7NsRekbO~y1KFOnU6IsnSGgh5zGutzpViHe0jpsaoo9H45r~5VWIyvlWHyEa47~R-9P5HEjLpQzr0YjqHBNfD9XItBJfhaRjbD9djqBRCqplBVu2w6qPsLqQ8fyYRLAi7h2hEhhwyyFnODZGAWAdC5TRnlgjBxZaNOGr2-RjFKxmFhwvSqCnOKVRqlOUSbeWkJlaDTEO0MmPd-mwuoeEi2CgHdB4EEA__");
    background-size: cover;
    width:18%;
    height:18vw;
    position: absolute;
    right: 3.5%;
    z-index: 2;
    top: 20%;
    transform: rotate(10deg);

}
.b3{
    position: absolute;
    width: 15vw;
    right: 2%;
    top: 60%;
}
.gif2{
    background: url("https://s3-alpha-sig.figma.com/img/761e/c747/b725adeba2c9a56896724ff607f84e34?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=PZeBrKWDOj6qvZXdhcznaQRpUWasJ~tiBPY3bXFY0KkHNjJANTPlynmC6M1xOc8VPLSTe2RKyomgwaSR0AF4NBT7pNcTEPqF6STd70maO5Udwbr87IWvk5KjOumlNljdtRtKNhir4stLTX8r8CCeTWzJ5aBOle3UR8w0UADLwx4XLaLTZYnTNbp5IdAy04OcBtv06s0DNM327UBbCyNXG73EQjtxqM94e8RomHzNiK8PhnkCK3rMrEbL98VuPB8cc23HJETQY-EnEGP4ees59YJxncFodXlKXRpbHOb1f~8MBi-X6saDImmg1JvlmgXZfj~tXnmRqzWCk575oH8QrA__");
    background-size: cover;
    width:13%;
    height:13vw;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 57%;
    transform: translateX(-1vw);

}
.text{
    position: absolute;
    width: 60vw;
    top:45%;
    left: 20%;
    z-index: 5;

}
/* ---------------stars-------------- */


.s1{
    position: absolute;
    width: 2vw;
    left: 38%;
    top: 20%;
    z-index: 2;
    animation:flash 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;

  
    
}
.s2{
    position: absolute;
    width: 2.5vw;
    left: 25%;
    top: 10%;
    

}
.s3{
    position: absolute;
    width: 2.6vw;
    left: 80%;
    top: 27%;

}
.s4{
    position: absolute;
    width: 1.8vw;
    left: 84%;
    top: 73%;
    animation:flash 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
    
}
.s5{
    position: absolute;
    width: 1.8vw;
    left: 8%;
    top:80%;
    animation:flash 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
    
}
/* -----cats---- */


.c1{
    position: absolute;
    width: 13vw;
    left: 22%;
    top: 42%;
    z-index: 2;
    animation: name 3s 0s linear infinite alternate;
}
@keyframes name {
    0%{
   transform: rotate(0deg);
    }
    100%{
        transform:rotate(-30deg);

    }
    
}
.c2{
    position: absolute;
    width: 11vw;
    left: 26%;
    top: 35%;
    z-index: 2;
    animation: name1 3s 0s linear infinite alternate;
}
@keyframes name1 {
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateX(2vw);

    }
    
}
.c3{
    position: absolute;
    width: 11vw;
    left: 30.5%;
    top: 29%;
    z-index: 2;
    animation: name2 3s 0s linear infinite alternate;
    animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
@keyframes name2 {
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateY(-1vw);

    }
    
}
.c4{
    position: absolute;
    width: 12.5vw;
    left: 35.6%;
    top: 25%;
    z-index: 2;
    animation: name3 3s 0s linear infinite alternate;
}

@keyframes name3 {
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateY(-2vw);

    }
    
}
.c5{
    position: absolute;
    width: 11vw;
    left: 43%;
    top: 24.7%;
    z-index: 2;
    animation: name7 3s 0s linear infinite alternate;
}

@keyframes name7 {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(40deg);

    }
    
}

.c6{
    position: absolute;
    width: 10.5vw;
    left: 49.6%;
    top: 26.5%;
    z-index: 2;
    animation: name5 3s 0s linear infinite alternate;
}

@keyframes name5 {
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateY(-2vw);

    }
    
}

.c7{
    position: absolute;
    width: 4vw;
    left: 60%;
    width: 10.5vw;
    left: 55%;
    top:31%;
    z-index: 2;
    animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}

.c8{
    position: absolute;
    width: 10.7vw;
    left: 59%;
    top:37.5%;
    z-index: 2;
    animation: name8 3s 0s linear infinite alternate;
}
@keyframes name8 {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(90deg);

    }
    
}
.c9{
    position: absolute;
    width: 12vw;
    left: 61%;
    top:44%;
    z-index: 2;
    animation: name6 3s 0s linear infinite alternate;
}
@keyframes name6 {
    0%{
        transform:translateX(0vw);
    }
    100%{
        transform:translateY(-1vw);

    }
    
}
/* ------------------------------------------------logos------------------------------ */
.logos{
    position: relative;
    margin-top: 1vw;
}
.arow{
    position: absolute;
    width: 21vw;
    top: -80%;
    left: 75%;
    /* animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate; */
        animation:shakeX 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;


}
.t9{
    position: absolute;
    width: 12vw;
    top: -2%;
    left: 75%;
    animation:shakeX 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .7vw;
}
.fst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}
.fst img{
    width: 10vw;
    cursor: pointer;
    transition: .3s;
}
.fst img:hover{
    opacity: .8;
}
.fst .l1{
    width: 13vw;
}
.fst .l2{
    width: 13vw;
}
.scnd{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.scnd img{
    width: 12vw;
    cursor: pointer;
    transition: .3s;
}
.scnd img:hover{
    opacity: .8;
}
.scnd  .l7
{
    width: 13vw;
}
.thrd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7vw;
}
.thrd img{
    width: 12.5vw;
    cursor: pointer;
    transition: .3s;
}
.thrd img:hover{
    opacity: .8;
}
.thrd .l6{
    width: 13.5vw;

}

.thrd .l3{
    width: 9.5vw;
}
.thrd .l4{
    width: 10vw;
}.thrd .l5{
    width: 10vw;
}
.for{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}
.for img{
    width: 13vw;
    cursor: pointer;
    transition: .3s;
}
.for img:hover{
    opacity: .8;
}
/* ----------------------------------about-sec------------------------------- */
.about-sec{
    position: relative;
    width: 100%;
    margin-top: 5vw;
}
.e1{
    position: absolute;
    width: 8vw;
    top: 20%;
    left: 2%;
}
.e2{
    position: absolute;
    width: 8vw;
    left: 55%;
    top: 94%;
    z-index: -1;
}
.e3{
    position: absolute;
    width: 8vw;
    left: 87%;
    top: 110%;
}
.gif4{
    background: url("https://s3-alpha-sig.figma.com/img/d61f/1494/b241469936fe694d8ba024ce4d3566c3?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FtZOIpHotltORJsMvxyM9WHJ9Edgy9ZXBNJb~XxnO2NtQpqMeLRbE7Co8hK~eOe4WkMj2CFRQcMdRtvwRpPmwQ35XKJAvdC1TTQ7IhvmJjugkwyO~VBNJuc2-ZK~fqCr6J9xZOZwYsp1n9j1wa57-xyY8FaH61fZxQAcMF2nTP5frNtBVIkBNP4nN-xUUrTdkT~w6ob81lD2sAeVI-Cdb502DAgc~4VIzbk8a0LmIwcfUW5VLcaME1TiX1ls2erPOePVsKoUZ4AxLYkW1yjp46RCA9Bw-m-uMC3fYwLNJiixIpiAynG1fAraBOwL2OonEs~LgGVFvPyeNEsDL6Ue1w__");
    background-size: cover;
    width:14%;
    height:14vw;
    position: absolute;
    left: 77%;
    z-index: 2;
    top: -19%;

}
.about-box{
    width: 70%;
    background-color: #6a73f3;
    border: 2px solid #000;
    margin: auto;
    


}
.iner{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.3vw solid #5272f3;
    gap: 6vw;

    
}
.lft{
    width: 30%;
}
.lft img{
    width: 25vw;
}
.rgt {
    width: 55%;
}
.rgt h4{
    font-size: 4vw;
    color: #fff;
    font-family:hdd;
}
.rgt p{
    font-size: 1.5vw;
    color: #fff;
    font-family: prg;
    line-height: 1.6vw;
    margin-top: 1vw;
}
/* -----------------------tkn-sec----------------------------- */
.tkn-sec{
    position: relative;
    margin-top: 3vw;
}
.gif5{
    background: url("https://s3-alpha-sig.figma.com/img/7fe6/f370/10f4b039d24a8d694225c50b98723143?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KT8Z-xfhjrDzQdxT3zFTa7dze3zp05WJWvCLdw1t7awGfczuCb7e0NXzg-2HUzBTijHtn-vDy7dEP9dun-Jl0GpwvrK1oGM6W-EzoxSheRa-fKDvgc0l5NkL0rocTx6YYltICtt071GUcgUVFwSJMAOR2liKxiv6YiGD~doLiyiSYJPGQIvy5lFPICbY5G3J5d1PceVWKxeyCi4jR~4t5lIQRv8dnPvm7Rjf0pI3z5xr6hhzYpy0a7CRc1WfJ2snu-LqCWIM9n33v4NLK5zYFpaCGobd63uBOQm3R4HMxunRAJfgyyC3rkQ-aLRPA1D09OXWnyiM2XfsYnVzPpCjIw__");
    background-size: cover;
    width:12%;
    height:12vw;
    position: absolute;
    left: 0%;
    top: -6%;
    z-index: 2;
    

}
.icnn1{
    background: url("https://s3-alpha-sig.figma.com/img/60f0/a7e8/52ae4c78b9326d66a287b9024ace022a?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nu5Eug-xqftAPPlLg~IAko9eD7JpFcb5g~UUwYAHQmVRnzGZjj8NnlEV1OJjrZk4Tm47OO59zjiHx7I0-quhWbUTcWqolWKjk4X8JXBG8Y5ktt7Et~K7zvc8f8HOEYi-rfXJIuI9sM9YW23ilT8NcefM3nddpxphWvybpVOB~BBmBYBz-cucYvVKNwfXn39R7vILYLdPC0T6xo44xcfjLg84njZoFjrVhn8IMl0HjE5Xwr~YIPFC4yH48tMHZ0Y26xZwq9GzSLHbSggvRJbiMXrckbAIiP1ZYFJeJedc1IQTrIEEb6lItI7huryWB0SoMrsoG~aCt17najCaCaZf2Q__");
    background-size: cover;
    width:7%;
    height:7vw;
    position: absolute;
    left: 69%;
    top: 3%;
    z-index: 2;

}
.icnn2{
    background: url("https://s3-alpha-sig.figma.com/img/8e43/c2a4/2b4ab6d1b8b940b96504aa10cafd61d7?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=V3kUJjZbvG3s5NLmyvSQJuYrYVnBzOKRRsZbykMXhhjC6NJ17JeU0iEoGB7mp1dEryF60HEXH~uhmRIypzwEBwpP-u~lWvzBBqoFESBdup8ed3arw8r0BkkCXuwdkW9jQlGXWUfX6O76K9qq79RGXkxteEU40bQtTXZcxHS2~r~PHW-sX3VnvEE6a5EGqa8CfT4g01yiGwsfj7QdJbboyAhNwUXg1-vxQqmPgYD8F0WW~g1zjCzQYem5rE9Ntz1kOOLn88h~~7y4Dj~M-1ghErunxkX7HKNMaGVLtZY3cRuOqlWMxwE0jh388TweGH3Uf8iNeElnGueYjDt38ljdwA__");
    background-size: cover;
    width:7%;
    height:7vw;
    position: absolute;
    left: 76%;
    top: 3%;
    z-index: 2;

}
.t1{
    position: absolute;
    width: 10.5vw;
    left: 80%;
    top:120%;
    animation:shakeX 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
.t2{
    position: absolute;
    width: 7vw;
    left: 2%;
    top: 110%;
    z-index: 3;
}
.cntr{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 7vw;
}
.cntr h4{
    font-size: 4vw;
    color: #fff;
    font-family:hdd;
    
}
.cntr .lows{
    width: 45%;
    background-color:#26387e;
    padding: 1vw;
    border-radius: 1.2vw;
    margin-top: 1vw;

}

.cntr .lows p{
    font-family: prg;
    font-size: 1.9vw;
    color:#cae453;
} 
.cntr .lows p span{
    font-size: 1.8vw;
}

.cntr img{
    width: 95%;
    display: flex;
    margin: auto;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 4vw;
    flex-wrap: wrap;

}



.box-1{
    width: 19%;
    background-color:#8f96f5;
    height: 21vw;
    padding: 2vw 1.8vw;
    border: 2px solid #000;
    border-radius: .6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

}
.box-1 .ups{
    background-color:#6a73f3;
    padding: 3vw;
    width: 100%;
    border-radius: .5vw;
    border: 1px solid #000;
    height: 20vw;
    
}
.box-1 .lows h4{
    font-size: 2.5vw;
    color: #fff;
    font-family: prg;

}
.box-1 .ups img{
    width: 6.2vw;
    /* animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate; */
    animation: movee 4s 0s infinite linear alternate;
}
@keyframes movee {
    0%{
        transform: rotate(0deg);
    }
   100%{
        transform: rotate(90deg);
    }
}


.box-2{
    width: 19%;
    background-color:#8f96f5;
    height: 21vw;
    padding: 2vw 1.8vw;
    border: 2px solid #000;
    border-radius: .6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;

}
.box-2 .ups{
    background-color:#6a73f3;
    padding: 2.8vw;
    width: 100%;
    border-radius: .5vw;
    border: 1px solid #000;
    height: 20vw;
}
.box-2 .ups img{
    width: 6.5vw;
    animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}

.box-2 .lows h4{
    font-size: 2vw;
    color: #fff;
    font-family: prg;
    margin-top: .6vw;
}



.box-3{
    width: 19%;
    background-color:#8f96f5;
    height: 21vw;
    padding: 2vw 1.8vw;
    border: 2px solid #000;
    border-radius: .6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    height: 21vw;
}
.box-3 .ups{
    background-color:#6a73f3;
    padding: 3vw;
    width: 100%;
    border-radius: .5vw;
    border: 1px solid #000;
    height: 20vw;
}
.box-3 .lows h4{
    font-size: 2vw;
    color: #fff;
    font-family: prg;
    margin-top: .6vw;
}
.box-3 .ups img{
    width: 6vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;

}


    .box-4{
        width: 19%;
        background-color:#8f96f5;
        height: 21vw;
        padding: 2vw 1.8vw;
        border: 2px solid #000;
        border-radius: .6vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
        height: 21vw;
    }
    .box-4 .ups{
        background-color:#6a73f3;
        padding: 2.8vw;
        width: 100%;
        border-radius: .5vw;
        border: 1px solid #000;
        height: 22vw;
    }
    .box-4 .lows h4{
        font-size: 2vw;
        color: #fff;
        font-family: prg;
        margin-top: .6vw;
    }
    .box-4 .ups img{
        width: 6.2vw;
        animation: fadeIn 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
        animation: move 3s 0s infinite linear alternate;
    }
    @keyframes move {
        0%{
            transform: rotate(0deg);
        }
       100%{
            transform: rotate(-90deg);
        }
}
/* ---------------------------------road-sec----------------------------- */
.road-sec{
    background-image: url(../images/h.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vw;
     position: relative;
     margin-top: 10vw;
 
     

    
    
}
.t10{
    width: 100%;
    background-color:#3651b1;
    position: absolute;
    z-index: -1;
    height: 80%;

    
}
.r1{
    position: absolute;
    width: 2vw;
    left: 93%;
    top: 45%;
    animation:flash 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
.r2{
    position: absolute;
    width: 5vw;
    left: 1%;
    top: 52%;
    animation:shakeX 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
.r3{
    position: absolute;
    width: 7vw;
    left: 92%;
    top: 53%;
}
.r4{
    position: absolute;
    width: 7vw;
    left: 3%;
    top: 46%;
    

}
.r5{
    position: absolute;
    width: 7vw;
    left: 0%;
    top: 78%;
    transform: translateX(-1.3vw);
    
}
.r6{
    position: absolute;
    width: 2vw;
    left: 7%;
    top: 85%;
    animation:flash 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;

}
.txxt{
    width: 35vw;
    display: flex;
    margin: auto;
 
}

.bxsss{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    background-color: #4261cf;
    border: 2px solid #000;
    padding: 4vw 5vw;
    border-radius: 1vw;
    gap: 4vw;
    margin-top: 3vw;
 
    
}

.lf{
    width: 67%;
    display: flex;
    flex-direction: column;
}

.lf .btnnn .btn{
    border: none;
    background-color:#a689f5;
    width: 8vw;
    color: #000;
    font-family: prg;
    font-size: 1.2vw;
    padding: .5vw;
    border: 1.6px solid #000;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}
.lf .btnnn .btn:hover{
    background-color: #fff;
    color: #000;
}
.lf .btnnn .btn span{
    font-size: 1.6vw;
}

.lf h4{
    font-size: 2.7vw;
    color: #fff;
    font-family: prg;
    margin-top: .5vw;
}
.lf  ul{
    margin-top: .5vw;
}
.lf  ul li{
    color: #979fe5;
    font-size: 1.5vw;
    font-family: prg;
    line-height: 2vw;
    
}
.rg{
    width: 35%;
}
.bck{
    
    border: 2px solid #000;
    border-radius: 1vw;
    }
.inr{
    background-color: #6a73f3;
    border: .8vw solid #5272f3;
    width: 100%;
    padding: 1vw 2vw;
    border-radius: 1vw;
}
.inr img{
    width: 16vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
/* -----------box2------- */


.box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    background-color: #4261cf;
    border: 2px solid #000;
    padding: 4vw 5vw;
    border-radius: 1vw;
    gap: 4vw;
    margin-top:2vw;

    
}

.rgg{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.rgg .btnnn .btn{
    border: none;
    background-color:#a689f5;
    width: 8vw;
    color: #000;
    font-family: prg;
    font-size: 1.2vw;
    padding: .5vw;
    border: 1.6px solid #000;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}
.rgg .btnnn .btn:hover{
    background-color: #fff;
    color: #000;
}
.rgg .btnnn .btn span{
    font-size: 1.6vw;
}

.rgg h4{
    font-size: 2.7vw;
    color: #fff;
    font-family: prg;
    margin-top: .5vw;
}
.rgg  ul{
    margin-top: .5vw;
}
.rgg  ul li{
    color: #979fe5;
    font-size: 1.5vw;
    font-family: prg;
    line-height: 2vw;
    
}
.rg{
    width: 40%;
}
.bckk{
    
    border: 2px solid #000;
    border-radius: 1vw;
    }
.inrr{
    background-color: #6a73f3;
    border: .8vw solid #5272f3;
    width: 100%;
    padding: 1.8vw 2vw;
    border-radius: 1vw;
}
.inrr img{
    width: 16vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}

/* --------------box-3------- */
.box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
    background-color: #4261cf;
    border: 2px solid #000;
    padding: 4vw 5vw;
    border-radius: 1vw;
    gap: 4vw;
    margin-top:2vw;

    
}

.lfff{
    width: 67%;
    display: flex;
    flex-direction: column;
}

.lfff .btnnn .btn{
    border: none;
    background-color:#a689f5;
    width: 8vw;
    color: #000;
    font-family: prg;
    font-size: 1.2vw;
    padding: .5vw;
    border: 1.6px solid #000;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}
.lfff .btnnn .btn:hover{
    background-color: #fff;
    color: #000;
}
.lfff .btnnn .btn span{
    font-size: 1.6vw;
}

.lfff h4{
    font-size: 2.7vw;
    color: #fff;
    font-family: prg;
    margin-top: .5vw;
}
.lfff  ul{
    margin-top: .5vw;
}
.lfff  ul li{
    color: #979fe5;
    font-size: 1.5vw;
    font-family: prg;
    line-height: 2vw;
    
}
.rggg{
    width: 35%;
}
.bckkk{
    
    border: 2px solid #000;
    border-radius: 1vw;
    }
.inrrr{
    background-color: #6a73f3;
    border: .8vw solid #5272f3;
    width: 100%;
    padding: 1vw 2vw;
    border-radius: 1vw;
}
.inrrr img{
    width: 18vw;
    animation: flipInY 2S cubic-bezier(0.165, 0.84, 0.44, 1)  infinite alternate;
}
/* ---------------------foter-sec---------------------- */
 .foter-sec{
 background-image: url(../images/f.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vw; 
   background-color:#3651b1; 
    /* position: absolute;
    z-index: -1; */

 }
.rows{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 10vw;
}
.lfti{
    width: 45%;
}
.lfti h4{
    font-size: 2vw;
    color: #fff;
    font-family:hdd;
}
.lfti p{
    font-size: 1.5vw;
    color: #fff;
    font-family: prg;
    width: 80%;
}
.cntri{
    width: 30%;
}
.cntri h4{
    font-size: 3.5vw;
    color:#cae453;
    font-family: prg;

}
.cntri ul{
    display: flex;
    gap: 2vw;
    margin-top: 1vw;
}

.cntri ul li{
    font-size: 1.7vw;
    color: #fff;
    font-family: prg;
}
.lsti {
    width: 15%;
}
.lsti h4{
    font-size: 3vw;
    color:#cae453;
    font-family: prg;

}
.lsti .icnss{
    display: flex;
    align-items: center;
}
.icnss img{
    width: 5.5vw;
    transition: .4s;
}
.icnss img:hover{
    transform: translateY(-.3vw);
}
.line{
    width: 80%;
    height: 2px;
    background-color:#424da5;
    margin: auto;
    margin-top: 4vw;
}
.endd{
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
    margin-top: 1.5vw;
    padding-bottom: 1.5vw;
}